.card {
  width: 100%;
  background-color: #232323;
  border-radius: 6px;
  padding: 18px;
  cursor: pointer;
}

.card-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  img {
    background-color: #232323;
    border: 3px solid #232323;
    border-radius: 7px;
    max-width: 38px;
    max-height: 38px;
    z-index: 2;
  }

  img:not(:first-child) {
    position: relative;
    left: -8px;
    z-index: 1;
  }
}

.card-title {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.card-description {
  color: white;
  font-weight: 300;
  font-size: 1rem;
}

.card-loader {
  position: relative;
  margin: 1rem 0;

  .line {
    width: 100%;
    height: 3px;
    background-color: lightslategray;
  }

  .loaded {
    position: absolute;
    top: 0;
    width: 50%;
    height: 3px;
    background-color: greenyellow;
  }
}

.card-date {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .left {
    display: flex;
    flex-direction: row;
    column-gap: 0.8rem;
    color: white;

    .icon {
      font-size: 1.2rem;
      position: relative;
      top: 1.5px;
    }
  }

  .right {
    color: white;
  }

}
