main {
  width: 100%;
  padding-bottom: 10rem;
}

.event-header {
  width: 100%;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  padding-inline-start: 5rem;
  padding-inline-end: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;

  @media screen and (max-width: 880px) {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
  }
}

.logo {
  width: 16rem;

  @media screen and (min-width: 560px) {
    width: 23rem;
  }
}

.create-form {
  width: 80%;
  max-width: 500px;
  margin: auto;
}

.create-event {
  background-color: #6A0DAD;
  color: white;
  font-weight: 600;
  padding:  0.5rem 1rem;
  margin-top: 2rem;
}