.container {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;

  &-searchbox {
    width: 28rem;
    height: 15rem;
    background-color: #505050;
    background-repeat: round;
    border-radius: 15px;
    z-index: 2;

    input {
      position: relative;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
    }

    &_search {
      width: 60%;
      min-width: 200px;
      height: 30px;
      border-radius: 50px;
      border: 1px solid #DADADA;
      background: white;
      padding: 0 0 0 15px;

    }

    &_search::placeholder {
      color: white;
      font-weight: 500;
      padding-left: 15px;
    }
  }
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  max-height: 40vh;
  padding-top: 191px;

  div {
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    img {
      max-width: 111px;
      max-height: 111px;
    }
  }
}

.banner {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-image: url(../../../src/assets/header.jpg);
  z-index: 0;
  background-repeat: round;
}

.subBanner {
  position: absolute;
  top: 50%;
  width: 100vw;
  height: 50vh;
  background-color: #242424;;
}