
/* Estilos para el contenedor del formulario */
#signupContainer {
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
/* Estilos para el encabezado del formulario */
h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* Estilos para los campos de entrada */
input[type="text"], input[type="password"], input[type="email"], select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
/* Estilos para la casilla de verificación "Recibir boletín de noticias" */
input[type="checkbox"] {
    margin-right: 10px;
    vertical-align: middle;
}
/* Estilos para el botón de registro */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
/* Estilos para el enlace "Regístrate ahora" */
.text-center {
    text-align: center;
    margin-top: 20px;
}
.text-cyan-600 {
    color: #007bff;
}
label {
    color: white;
}

form {
    max-width: 50vw;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button {
    margin-top: 40px;
}
