main {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 10rem;
  background-color: #181818;
}

.event-header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-inline-start: 10%;
  padding-inline-end: 10%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.logo {
  width: 23rem;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 3rem;
  margin-top: 1.5rem;
  row-gap: 2rem;
}

.toolbar {
  margin-left: 10%;
}
.create-event {
  background-color: #6A0DAD;
  color: white;
  font-weight: 600;
  padding:  0.5rem 1rem;
  margin-top: 4rem;
}

.cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 5rem 3rem 5rem;

  @media screen and (max-width: 880px) {
    margin: 1rem 1rem 1rem 1rem;
  }
}